
@media screen and (min-width: 1024px) {
    .container-img {
        width: 50%;
    }

    .container-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .container-img-histoire {
        display: flex;
        justify-content: center;
    }

    /*PRODUCT PAGE*/
    .Outerwear-inner {
        width: 33.333%;
    }

    .container-carousel-product {
        height: 100%;
        overflow: hidden;
        width: 50%;
    }

    .container-carousel-product img {
        height: 90vh;
        
    }

    .control {
        position: absolute;
        top: 90vh;
        left: 52%;
    }

    .container-main-product {
        display: flex;
        height: 90vh;
        justify-content: space-between;
    }

    .container-description {
        width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .container-img{
        width: 50%;
    }
    .container-img {
        height: 600px;
    }
    .carousel-slide-inner img {
        height: 600px;
    }
    .container-img-histoire {
        height: 600px;
    }
    .carousel-slide {
        height: 700px !important;
    }
}