@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.container-nav-in {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }
  
.nav-in {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  
}

.nav-in li {
  display: flex;
  margin-right: 10px;
}

.nav-in a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
