.Outerwear-inner {
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    width: 50%;
}

.container-outerwear {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

#title {
    padding: 10px;
}