@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/*OVERLAY*/
.first-titre {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #000000 1px 1px;

}

.first-titre h1 {
    font-weight: 400;
    font-size: 50px;
    color: #fff2ce;
}

.first-titre a {
    color: #fff2ce;
}

.container-overlay {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
}

.overlay img {
    width: 33.333%;
    height: 100%;
    object-fit: cover;
}

/*VOIR PLUS*/

.container-img {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.container-img-histoire {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.img-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.img-inner-histoire {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.img-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-inner-histoire img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.img-text {
    text-align: end;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-text h2 {
    font-weight: 400;
    font-size: 2rem;
}

.img-text a {
    color: black;
}

.img-variant-text {
    text-align: start;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-variant-text a {
    color: #000;
}

/*ATELIER*/
.histoire {
    text-align: center;
    padding: 50px 50px 20px 50px;
}

.atelier {
    display: flex;
    justify-content: center;
}

.container-histoire {
    background-color: #fff2ce;
}

.container-button {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.container-histoire button {
    width: 150px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid black;
    padding-bottom: 0;
}

/*STORE*/
.container-store {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.store {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
}

.store img {
    width: 33.333%;
    height: 100%;
    object-fit: cover;
}

/*NEWSLETTER*/

.container-newsletter {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff2ce;
}

.newsletter-inner p {
    font-weight: 400;
    font-size: 20px;
} 

.sub-inner form input {
    border: 0;
    background: transparent;
    border-bottom: 2px solid black;
}

.sub-inner form input::placeholder {
    color: #000;
}

.sub-inner form button {
    border: none;
    background: transparent;
    border-bottom: 2px solid black;
}